
.vs/LightInvest/FileContentIndex/59a4ce70-9e1d-4474-a677-9dbdf91c3697.vsidx
.vs/LightInvest/FileContentIndex/5bec342f-84c4-4483-a949-8242a6f8e3ea.vsidx
.vs/LightInvest/FileContentIndex/7c58a1ae-a8fc-4a22-abcd-ff19110c0919.vsidx
/.vs/LightInvest/FileContentIndex
