<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - LightInvest</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/LightInvest.styles.css" asp-append-version="true" />
	<style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>

<!-- Navbar -->
<header>
	<nav class="navbar navbar-expand-sm navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="@Url.Action("Login", "Account")">LightInvest</a>
		</div>
	</nav>
</header>

<!-- Main Content -->
<div class="container">
	<main role="main">
		@RenderBody()  <!-- Aqui é onde o conteúdo da página específica será inserido -->
	</main>
</div>

<!-- Footer -->
<footer class="footer">
	<div class="container text-center">
		&copy; 2025 - LightInvest - <a href="@Url.Action("Privacy", "Home")">Privacy</a>
	</div>
</footer>

<!-- Scripts -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>